*.pt filter=lfs diff=lfs merge=lfs -text
outputs/D4/primary/devtest/spanglish-dev-model/model.pt filter=lfs diff=lfs merge=lfs -text
outputs/D4/adaptation/devtest/hinglish-dev-model/model.pt filter=lfs diff=lfs merge=lfs -text
